**

!LICENSE

!NOTICE.md
!README.md
!README.*.md
!CHANGELOG.md
!CHANGELOG.*.md

!package.json
!package.nls.json
!package.nls.*.json

!resources/**
!syntaxes/**
!tools/**
!l10n/**

!client/out/**/*.js
!server/out/**/*.js
!out/**/*.js
